.btn{
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.table{
    text-align: center;
}

label{
    color: #0B5ED7;
}